<a href="https://colab.research.google.com/github/gundaminpde/2022/blob/main/Copy_of_4thLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 학생들이 좋아하는 range() 함수와 인수


A1= list (range(10)) # 인수 한 개

A2= list (range(2,10)) # 인수 한 개

A3= list (range(2,10,3)) # 인수 한 개


print('A1=',A1)

print('A2=',A2)

print('A3=',A3)

A1= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
A2= [2, 3, 4, 5, 6, 7, 8, 9]
A3= [2, 5, 8]

In [ ]:
# 기본적인 함수 반사

def BanSa(word):
  return word

BanSa('펭수')

'펭수'

In [ ]:
BanSa()

TypeError: ignored

In [ ]:
# 기본적인 함수 반사을 위한 기본(default) 값

def BanSa2(word='침묵'):
  return word

print(BanSa2('펭수'))
print(BanSa2())

펭수
침묵

In [ ]:
def personal_info(name='홍길동',age=30,ctzshp='한국'):
  print('이름:',name, '나이:', age,'국적:',ctzshp)

personal_info()

personal_info('미스터빈',67,'영국')


personal_info(age=20,name='김수한무')

이름: 홍길동 나이: 30 국적: 한국
이름: 미스터빈 나이: 67 국적: 영국
이름: 김수한무 나이: 20 국적: 한국

In [ ]:
# 위치인수 positional arguments와 가변인수 variable length arguments

def print_movies(*movies):
  for title in movies:
    print(title)

print_movies('당산대형','정무문','맹룡과강','용쟁호투','사망유희')

당산대형
정무문
맹룡과강
용쟁호투
사망유희

In [ ]:
## 개수가 자유롭게 dictionary type도 입력 ** 사용

def print_movies2(**movies):
  for title in movies.keys():
    print(title, movies[title])

print_movies2(당산대형=1971,정무문=1972,맹룡과강=1972,용쟁호투=1973,사망유희=1973) # 따옴표 '' 표시가 없음.

당산대형 1971
정무문 1972
맹룡과강 1972
용쟁호투 1973
사망유희 1973

In [ ]:
#### 순서가 바뀌니 안된다.


def separation(*words, sep='*'):
  return sep.join(words)

separation('ahrada','dsgf','ujyhgtds')

'ahrada*dsgf*ujyhgtds'

In [ ]:
separation('ahrada','dsgf','ujyhgtds',sep='%%%%%%%')

'ahrada%%%%%%%dsgf%%%%%%%ujyhgtds'

In [ ]:
separation(sep='%%%%%%%','ahrada','dsgf','ujyhgtds') ### 순서가 바뀌니 안된다.

SyntaxError: ignored

In [ ]:
### 언패킹을 통해 튜플 대입하기

numbers = 3, 15

list(range(*numbers)) ## '*'를 사용하여 unpacking하여 넣었다.

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
## 앞에서 사용한 example 

def personal_info(name='홍길동',age=30,ctzshp='한국'):
  print('이름:',name, '나이:', age,'국적:',ctzshp)



## dictionary도 넣어 보기

info={'name':'거북이와두루미','age':'100','ctzshp':'대자연' }

personal_info(**info)

이름: 거북이와두루미 나이: 100 국적: 대자연

In [ ]:
## 이제 클래스 Class

txt='클래스 사용하기'

print(type(txt))

print(id(txt))

txt2='또 다른 객체'

print(type(txt2))

print(id(txt2))

print(txt.__class__)    ##___class___ class 내 지역변수, 속성(Attribute: 클래스 내부에 포함돼 있는 메서드 나 변수)  

txt.replace('클래스','객체') ## method

<class 'str'>
139670792636240
<class 'str'>
139670889561536
<class 'str'>

'객체 사용하기'

In [ ]:
### 속성: name, 메소드: study_math()
### self 사용하기

class math_student:
    name = str()
    def study_math():                   ## self
        print(name + "studies math.")   ## self.name

student = math_student()
print(type(student))

student.name='홍길동'
print(student.name)
## student.study_math()      ### 파이썬 메서드의 첫 번째 인자로 항상 인스턴스가 전달

<class '__main__.math_student'>
홍길동

In [ ]:
##  __init__() 사용


class math_student2:
    def __init__(self, name): #생성자(Constructor): 객체가 생성될 때 '자동으로 호출'되는 메서드
      self.name = name

    def study_math2(self):                
       print(self.name + " studies math.")  

student = math_student2('전우치')


student.study_math2()

print(student.name)

전우치 studies math.
전우치

In [ ]:
## 클래스 변수(class variable)와 인스턴스 변수(instance variable)

class math_student3:
   where = "교실에서"          ### 모든 객체에 같은 값을 가지는 클래스 변수

   def __init__(self, name):
       self.name1 = name      ### 인스턴트 변수, 객체간에 값을 공유하지 않는다.

   def study_math3(self):                
       print(self.name1 + "studies math.") 

student1= math_student3("주윤발")

student2= math_student3("장국영")

print(student2.where)

student1.study_math3()

student2.study_math3()

교실에서
주윤발studies math.
장국영studies math.

In [ ]:
class kim_su_han_moo:
    long_name = list()

    def __init__(self,name):
        self.name = name

    def added_name(self,new_name):
        self.long_name.append(new_name)

kim = kim_su_han_moo('김수한무')

geobooki= kim_su_han_moo('거북이와 두루미')

kim.added_name('삼천갑자')
geobooki.added_name('동방삭')


print(kim.long_name)
print(geobooki.long_name)

['삼천갑자', '동방삭']
['삼천갑자', '동방삭']

In [ ]:
class kim_su_han_moo2:

    def __init__(self,name):
        self.name2 = name
        self.long_name2 = list()
    def added_name2(self,new_name):
        self.long_name2.append(new_name)

kim2 = kim_su_han_moo2('김수한무')

geobooki2= kim_su_han_moo2('거북이와 두루미')

kim2.added_name2('삼천갑자')
geobooki2.added_name2('동방삭')


print(kim2.long_name2)
print(geobooki2.long_name2)

['삼천갑자']
['동방삭']

In [2]:
## 모듈(module)이란 함수나 변수 또는 클래스를 모아 놓은 파일

import random ## random 모듈

random.randint(1,100)

43