<a href="https://colab.research.google.com/github/gundaminpde/2022/blob/main/Copy_of_4thLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 학생들이 좋아하는 range() 함수와 인수


A1= list (range(10)) # 인수 한 개

A2= list (range(2,10)) # 인수 한 개

A3= list (range(2,10,3)) # 인수 한 개


print('A1=',A1)

print('A2=',A2)

print('A3=',A3)

A1= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
A2= [2, 3, 4, 5, 6, 7, 8, 9]
A3= [2, 5, 8]

In [ ]:
# 기본적인 함수 반사

def BanSa(word):
  return word

BanSa('펭수')

'펭수'

In [ ]:
BanSa()

TypeError: ignored

In [ ]:
# 기본적인 함수 반사을 위한 기본(default) 값

def BanSa2(word='침묵'):
  return word

print(BanSa2('펭수'))
print(BanSa2())

펭수
침묵

In [9]:
def personal_info(name='홍길동',age=30,ctzshp='한국'):
  print('이름:',name, '나이:', age,'국적:',ctzshp)

personal_info()

personal_info('미스터빈',67,'영국')


personal_info(age=20,name='김수한무')

이름: 홍길동 나이: 30 국적: 한국
이름: 미스터빈 나이: 67 국적: 영국
이름: 김수한무 나이: 20 국적: 한국

In [11]:
# 위치인수 positional arguments와 가변인수 variable length arguments

def print_movies(*movies):
  for title in movies:
    print(title)

print_movies('당산대형','정무문','맹룡과강','용쟁호투','사망유희')

당산대형
정무문
맹룡과강
용쟁호투
사망유희

In [16]:
## 개수가 자유롭게 dictionary type도 입력 ** 사용

def print_movies2(**movies):
  for title in movies.keys():
    print(title, movies[title])

print_movies2(당산대형=1971,정무문=1972,맹룡과강=1972,용쟁호투=1973,사망유희=1973) # 따옴표 '' 표시가 없음.

당산대형 1971
정무문 1972
맹룡과강 1972
용쟁호투 1973
사망유희 1973

In [19]:
#### 순서가 바뀌니 안된다.


def separation(*words, sep='*'):
  return sep.join(words)

separation('ahrada','dsgf','ujyhgtds')

'ahrada*dsgf*ujyhgtds'

In [20]:
separation('ahrada','dsgf','ujyhgtds',sep='%%%%%%%')

'ahrada%%%%%%%dsgf%%%%%%%ujyhgtds'

In [21]:
separation(sep='%%%%%%%','ahrada','dsgf','ujyhgtds') ### 순서가 바뀌니 안된다.

SyntaxError: ignored

In [24]:
### 언패킹을 통해 튜플 대입하기

numbers = 3, 15

list(range(*numbers)) ## '*'를 사용하여 unpacking하여 넣었다.

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [26]:
## 앞에서 사용한 example 

def personal_info(name='홍길동',age=30,ctzshp='한국'):
  print('이름:',name, '나이:', age,'국적:',ctzshp)



## dictionary도 넣어 보기

info={'name':'거북이와두루미','age':'100','ctzshp':'대자연' }

personal_info(**info)

이름: 거북이와두루미 나이: 100 국적: 대자연