<a href="https://colab.research.google.com/github/202201617/2022/blob/main/%EC%A0%84%EC%82%B0%EC%88%98%ED%95%99_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
함수
'''

#함수 생성
def A(a, b):
  return a + b


#함수 실행
a = 3
b = 4
c = A(a, b)
print(c)

print(A(3, 4))

c = A(a=3,  b=4)
print(c)

7
7
7

In [ ]:
#입력값이 없는 함수
def B():
  return 'hi'

a = B()
print(a)

hi

In [ ]:
#결과값이 없는 함수 (return이 없음)
def C(a,b):
  print(f'{a} + {b} = {a+b}')

C(3, 4)

c = C(3, 4)

print(c) #non값이 나옴

3 + 4 = 7
None

In [ ]:
#Exercise 1
# f(x) = x^2 + 2x + 1에 대한 함수 만들고 f(10)값 구하기
def f(x):
  return x**2 + 2*x + 1

f(10)

121

In [ ]:
#Exercise 2
#입력값으로 자연수를 넣고 자연수가 홀수인지 짝수인지 판별해주는 함수 만들기
def A(x):
  if x%2 == 0:
    c = '짝수입니다'
  else:
    c = '홀수입니다'
  return c

print(A(7))

print(A(88))

홀수입니다
짝수입니다

In [ ]:
#Exercise 2
#입력값으로 자연수를 넣고 자연수가 홀수인지 짝수인지 판별해주는 함수 만들기
def A(x):
  if x%2 == 0:
    c = '%d는 짝수입니다'%x
  else:
    c = '%d는 홀수입니다'%x
  print(c)

A(7)
A(10)

7는 홀수입니다
10는 짝수입니다

In [ ]:
#두 개의 값을 return
def k(a, b):
  return a+b, a*b

result = k(3, 4)
print(result)

result1, result2 = k(3, 4)
print(result1, result2)

(7, 12)
7 12

In [ ]:
def s(a):
  if s == 'stupid':
    return
  print('My nickname is %s.'%a)

s('wow')
s('stupid')

My nickname is wow.
My nickname is stupid.

In [ ]:
#가변매개변수를 받는 함수
def m(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

result = m(1, 2, 3)
print(result)

result2 = m(1, 2, 3, 4, 5, 6, 7, 8, 9)
print(result2)

6
45

In [ ]:
#Exercise 1
#전달한 값들을 모두 곱해서 리턴하는 함수 mul을 만든 후 mul(1, 2, 3, 4, 5, 6, 7, 8, 9)
def mul(*args):
  total = 1
  for i in args:
    total *= i
  print(total)

mul(1, 2, 3, 4, 5, 6, 7, 8, 9)

print( )
#Exercise 2
#여러 개의 자연수를 입력받아 (1, 4, 6, 7, 18, 19)가 홀수인지 짝수인지 판별해주고 홀수/짝수 갯수를 리턴하는 함수
def v(*args):
  count1 = 0
  count2 = 0
  for i in args:
    if i%2 == 0:
      print(f'{i}은(는) 짝수입니다')
      count1 += 1
    else:
      print(f'{i}은(는) 홀수입니다')
      count2 += 1
  print(f'홀수의 갯수는 {count1}개이고, 짝수의 갯수는 {count2}개입니다.')

v(1, 4, 6, 7, 18, 19)

362880

1은(는) 홀수입니다
4은(는) 짝수입니다
6은(는) 짝수입니다
7은(는) 홀수입니다
18은(는) 짝수입니다
19은(는) 홀수입니다
홀수의 갯수는 3개이고, 짝수의 갯수는 3개입니다.

In [ ]:
#여러 개의 입력값(가변매개변수 포함)을 받는 함수
def l(choice, *args):
  if choice == 'add':
    total = 0
    for i in args:
      total += i

  elif choice == 'mul':
    total = 1
    for i in args:
      total *= i
  
  return total

result = l('add', 1, 2, 3)
print(result)
result = l('mul', 1, 2, 3, 4, 5)
print(result)

6
120

In [ ]:
#3.31 연습 문제
#input 값으로 'name, 학번, 국, 영, 수, 과학 성적'을 입력받아 다음 출력값을 갖도록 하는 함수(score) 만들기
#(1)'score('홍길동', 2020030, 100, 80, 90, 70)을 실행했을 때 다음 출력 결과가 나오도록 하고
#출력 결과: ***학생(학번)은 평균**.0점입니다.
#평균값을 return하도록 하여라.

name = input('name: ')
number = input('학번: ')
korean = int(input('국어 점수: '))
english = int(input('영어 점수: '))
math = int(input('수학 점수: '))
science = int(input('과학 점수: '))

def score(name, number, korean, english, math, science):
  average = (korean + english + math + science)/4
  print(f'{name} 학생({number})은 평균 {average:0.1f}점 입니다.')
  return average

score('홍길동', 2020030, 100, 80, 90, 70)

name: 홍길동
학번: 2020030
국어 점수: 100
영어 점수: 80
수학 점수: 90
과학 점수: 70
홍길동 학생(2020030)은 평균 85.00점 입니다.

85.0

In [ ]:
name = input('name: ')
number = input('학번: ')
korean = int(input('국어 점수: '))
english = int(input('영어 점수: '))
math = int(input('수학 점수: '))
science = int(input('과학 점수: '))

def score(name, number, *args):
  average = (korean + english + math + science)/4
  print(f'{name} 학생({number})은 평균 {average:0.1f}점 입니다.')
  return average

score('홍길동', 2020030, 100, 80, 90, 70)

name: 홍길동
학번: 2020030
국어 점수: 100
영어 점수: 80
수학 점수: 90
과학 점수: 70
홍길동 학생(2020030)은 평균 85.0점 입니다.

85.0

In [ ]:
def score(name, number, *args):
  scores = list(args)
  average = sum(scores) / len(scores)
  print(f'{name} 학생({number})은 평균 {average:0.2f}점 입니다.')

score('홍길동', 2020030, 100, 80, 90, 70)

홍길동 학생(2020030)은 평균 85.00점 입니다.

In [ ]:
def socre(name, num, *args):
  total = 0
  for a in args:
    total += a
  average = total/len(args)

  print(f'{name}({number}) 학생은 평균 {average:0.2f}점 입니다.')
  
score('홍길동', 2020030, 100, 80, 90, 70)

홍길동 학생(2020030)은 평균 85.00점 입니다.

In [ ]:
#예제 1
def time(n, *values):
  for i in range (n):
    for value in values:
      print(value, end = ' ')
    print()

time(3, 'hi', 'enjoy', 'python')

hi enjoy python
hi enjoy python
hi enjoy python

In [ ]:
def time(*valuse, n):
  for i in range(n):
    for value in valuse:
      print(value, end = ' ')
    print()

#time('hi', 'enjoy', 'python', 3) #error
time('hi', 'enjoy', 'python', n = 3)

hi enjoy python
hi enjoy python
hi enjoy python

In [ ]:
#매개변수에 초깃값 미리 설정 (제일 마지막에 위치해야 함)
def myself(name, age, man = True):
  print(f'나의 이름은 {name}입니다.')
  print(f'나이는 {age}살입니다.')
  if man:
    print('나는 남자입니다.')
    print( )
  else:
    print('나는 여자입니다.')
    print( )

myself('홍길동', 27)
myself('홍길동', 27, True)
myself('홍길순', 25, False)

나의 이름은 홍길동입니다.
나이는 27살입니다.
나는 남자입니다.

나의 이름은 홍길동입니다.
나이는 27살입니다.
나는 남자입니다.

나의 이름은 홍길순입니다.
나이는 25살입니다.
나는 여자입니다.

In [ ]:
#예제
def test(a, b = 10, c = 100):
  print(a + b + c)

test(10)
test(10, 20, 30)
test(c = 10, a = 100, b = 200)
test(10, c = 200)

120
60
310
220

In [ ]:
#Exercise 1. 오타가 발생하는 코드 찾기
# def f2(*values, A, B):
  #print(values)
#f2(1, 2, 3, 4, 5)
#values가 어디까진지 모르기에 erros

def f2(*values, A = 10, B = 20):
  print(values)
f2(1, 2, 3, 4, 5)
#(1, 2, 3, 4, 5)

def f2(A, B, *values):
  print(values)
f2(1, 2, 3, 4, 5)
#(3, 4, 5)

def f2(A = 10, B = 20, *values):
  print(values)
f2(1, 2, 3, 4, 5)
#(3, 4, 5)

(1, 2, 3, 4, 5)
(3, 4, 5)
(3, 4, 5)

In [ ]:
#함수 앞에서 선언한 변수의 효력 범위
a = 1
def var(a):
  a += 1
  return a

result = var(a)
print(result)
print(a)

2
1

In [ ]:
#global 명령어
a = 1
def var():
  global a
  a += 1
  return a

var()
print(a)

2

In [ ]:
def mod(a, b):
  return a + b

#lambda 사용하여 함수 만들기 (= def)
#함수 이름 = lambda 변수 : 함수 계산
add = lambda a, b: a + b
result = add(3, 4)
print(result)

In [ ]:
#Exercise
#1. f(x) = x^2 + 2x + 1을 lambda 이용하여 함수 만들고, f(10) 출력
f = lambda a : a**2 + 2 * a + 1
print(f(10))

#2. lambda 이용해서 입력값을 x = [10, -2, 3, 4, 0]으로 받고 x > 0인 값들만 찾아내는 함수
k = []
def positive(x):
  for i in x:
    if i > 0:
      k.append(i)
  return k

f = lambda x: for i in x

positive([10, -2, 3, 4, 0])

121

[10, 3, 4]